*,html,body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'poppins',sans-serif;
}

.container{
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

nav .logo {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

nav ul li{
    display: inline-block;
    padding: 10px 40px;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 500;
    padding: 8px;
    transition: all;
    transition-duration: 650ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

nav ul li a:hover{
    border-bottom: 1px solid black;
}

.awal {
  text-align: center;
  margin-top: 70px;
}

.intro {
  font-size: 20px;
}

.title {
  font-size: 100px;
  font-weight: 800;
  line-height: 1;
}

.title span {
  color: transparent;
  -webkit-text-stroke: 1px black;
}
.awal img {
   width: 885px;
   margin-left: 150px;
    margin-top: -360px;
}
